#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.formContainer{
  border: 1px solid white;
  height: 100%;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  background-color: rgb(174, 165, 35);
  color: black;
}
.formContainer input{
  background-color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin: 5px;

}
.formContainer label{
  font-weight: 600;
  color: rgb(63, 61, 61);
  text-align: center;
  align-items: center;
  
}